{{yield}}
<div local-class="parks">
    <div id="map" local-class="map"></div>
    <div local-class="nearby_parks">
        {{!-- <button local-class="collapsible" id="collapsible_list" {{on "click" this.toggleChoices}}>{{if
            this.selected_place this.selected_place "Make a selection!"}}
        </button> --}}
        {{!-- {{#if this.isSelecting}} --}}
        {{#each this.parks as |park index|}}
        <ParkInfo @park={{park}} @index={{index}} @onClick={{fn this.updateAllSelections index}} />
        {{!-- <div>
                <button local-class="collapsible_child" {{on "click" (fn this.updateAllSelections index)}} {{on "click"
                    this.toggleChoices}}>
                    {{park.name}}
                </button>
            </div> --}}
        {{/each}}

        {{!-- {{/if}} --}}
        {{#if this.parks.length }}
        <NearbyGallery @parks={{this.parks}} @selectPark={{this.updateAllSelections}} />
        {{/if}}
        <div local-class="parks-result">
            {{#if this.selected_place}}
              <SelectedPlace
                @selected_place={{this.selected_place}}
                @selected_vicinity={{this.selected_vicinity}}
                @selected_latitude={{this.selected_latitude}}
                @selected_longitude={{this.selected_longitude}}
                @selected_rating={{this.selected_rating}}
                @selected_user_ratings={{this.selected_user_ratings}}
                @selected_icon={{this.selected_icon}}
                @longitude={{this.longitude}}
                @latitude={{this.latitude}}
              />
            {{/if}}
        </div>
        {{!-- <button {{on "click" this.viewEmbeddedMap}}>Load Map</button> --}}
        {{#if this.isGoogleMapPop}}
        <button {{on "click" this.closeEmbeddedMap}}>Close Map</button>
        <div local-class="embedded_gmap">
            <EmbeddedGoogleMap @query={{this.selected_place}}>
            </EmbeddedGoogleMap>
        </div>
        {{/if}}
    </div>
</div>